

/*HEADER*/


.header {
  width: 1440px;
  height: 100px;
  position: relative;
  background-color: #FB8E26;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('URLлоготип.svg');
  width: 73.07260131835938px
  height: 70px;
  left: 112px;
 
  
}

.menu {
  position: absolute;
  top: 50%;
  left: 300px; 
  transform: translateY(-50%);
  font-size: 20px;
}

.menu-item {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.menu-items{
  color: white;
  text-decoration: none;
  margin-left: 50px;
}

.register-button {
  position: absolute;
  width: 247.3751220703125px;
  height: 67px;
  top: 16px;
  left: 1080.625px;
  border-radius: 100px;
  background-color: white;
  background: #37B449;
  font-size: 16px;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
}
/*HEADER*/

/*FOOTER*/


.footer {
  width: 1440px;
  height: 100px;
  background-color: #FB8E26;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

   background-color: #FB8E26;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
}

.logo {
  /* Стили для логотипа */
  width: 73.07260131835938px;
  height: 70px;
  background-image: url('URL_логотип.svg');
  /* Дополнительные стили для логотипа */
}

.menu {
  font-size: 20px;
}

.menu-item {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.register-button {
  width: 247.3751220703125px;
  height: 67px;
  border-radius: 100px;
  background-color: #37B449;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
}

/*rev*/
   .text-block {
        width: 860px;
        height: 186px;
        position: absolute;
        top: 351px;
        left: 406.130859375px;
        border-radius: 15px;
    }
